---
import '@styles/global.css';

import { getLangFromUrl } from '@i18n/utils';
import Navigation from '@components/Navigation.astro';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <title>Pelagornis OAuth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-white min-h-screen">
    <Navigation />
    <main class="flex justify-center items-start md:items-center min-h-[70vh] px-2">
      <slot />
    </main>
  </body>
</html>
